article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
img,
menu,
nav,
section {
  display: block;
}
.cta,
.titulo {
  text-align: center;
}
.cta,
.header li a {
  display: inline-block;
  text-transform: uppercase;
}
.agende p,
.mvv-lista p {
  max-width: 300px;
}
.cta,
.footer h2,
.header li a,
.info h2,
.info li:first-child,
.main h1,
.mvv-lista h2,
.titulo {
  text-transform: uppercase;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.cta,
.titulo,
h1,
h2 {
  font-weight: 700;
}
body {
  line-height: 1;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: var(--white-1);
  color: var(--black-1);
}
.cta,
.header li a,
.passeios-home-lista a,
h1,
h2,
summary {
  font-family: Poppins, sans-serif;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  --green-1: #549e59;
  --green-2: #60cc2d;
  --green-3: #164e0f;
  --orange-1: #dfa977;
  --orange-2: #db7515;
  --orange-3: #e7a261;
  --white-1: #fafbfc;
  --white-2: #edeeef;
  --white-3: #dcddde;
  --black-1: #404a52;
  --black-2: #333c43;
  --black-3: #232c33;
}
section {
  padding: 4rem 0;
}
h1,
h2 {
  line-height: 1.2;
}
.info li,
.sobre-quote,
p {
  line-height: 1.5;
}
img {
  max-width: 100%;
}
p {
  font-size: 0.875rem;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cta {
  font-size: 1.125rem;
  padding: 1rem 4rem;
  background-color: var(--orange-2);
  border-radius: 5px;
  color: #fff;
  margin-top: 2rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
  transition: 0.3s;
}
.cta:hover {
  background: var(--orange-3);
}
.titulo {
  font-size: 1.5rem;
  color: var(--green-1);
  margin-bottom: 2rem;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.25rem 0;
  background: linear-gradient(135deg, var(--green-1), var(--green-3));
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  z-index: 10;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header ul {
  display: flex;
}
.header li + li {
  margin-left: 2rem;
}
.header li a {
  font-size: 1rem;
  color: #fff;
  border-bottom: 2px solid transparent;
  padding: 5px 0;
  transition: 0.1s ease-out;
}
.main,
.passeios-home-lista li h2 {
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
}
.header li a.ativo,
.header li a:hover {
  border-bottom: 2px solid #fff;
}
.main {
  margin-top: 68px;
  width: 100%;
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/bg-home.jpg") center center/cover no-repeat;
}
.main h1 {
  font-size: 2.25rem;
}
.main p {
  font-size: 1.125rem;
  font-style: italic;
  margin-top: 1rem;
}

.galeria-home,
.passeios-home,
.wpp {
  text-align: center;
}
.passeios-home-lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.passeios-home-lista li {
  background: #fff;
  border: 1px solid var(--white-3);
  border-radius: 5px;
  text-align: left;
}
.passeios-home-lista li h2 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  height: 200px;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/trilha.jpg) center center no-repeat;
  justify-content: center;
}
.passeios-home-lista li:nth-child(2) h2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/mergulho.jpg) center center no-repeat;
}
.passeios-home-lista li:nth-child(3) h2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/paraquedas.png) center center no-repeat;
}
.passeios-home-lista p {
  padding: 2rem;
}
.passeios-home-lista a {
  display: block;
  margin-top: 1rem;
  color: var(--green-1);
  transition: 0.1s ease-out;
}
.dados a:hover,
.footer li a:hover,
.passeios-home-lista a:hover {
  text-decoration: underline;
}
.passeios-home,
.sobre-home {
  width: 100%;
  background-color: var(--white-2);
  text-align: center;
}

.galeria-lista,
.passeios-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.galeria-lista li img,
.passeios-container img {
  border-radius: 5px;
}
.sobre-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
  align-items: center;
}
.footer-container,
.redes-sociais {
  grid-template-columns: repeat(3, 1fr);
}
.sobre-container img {
  padding: 2rem;
  background-color: #fff;
  border: 1px solid var(--white-3);
  border-radius: 5px;
  box-sizing: border-box;
}
.sobre-container p {
  text-align: left;
}
.sobre-quote {
  font-size: 1.5rem;
  font-style: italic;
  max-width: 750px;
  margin: 4rem auto 0;
  color: var(--black-3);
  text-align: center;
}
.info li:first-child,
.sobre-cite {
  font-size: 1rem;
  font-style: normal;
  font-family: Poppins, sans-serif;
}
.sobre-cite {
  display: block;
  text-align: right;
  margin-top: 1rem;
  color: var(--black-1);
}
.agende p,
.info ul,
.wpp-box {
  font-style: italic;
}
.agende,
.contato,
.copyright,
.galeria,
.mapa p,
.mvv-lista {
  text-align: center;
}
.footer,
.footer li a {
  color: var(--white-1);
}
.footer {
  width: 100%;
  background-color: var(--black-2);
  padding-top: 4rem;
}
.footer h2 {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}
.footer li a {
  display: inline-block;
  font-size: 0.875rem;
  transition: 0.1s ease-out;
}
.footer-container {
  display: grid;
  gap: 1rem;
  text-align: center;
}

.footer-container > li + li {
  border-left: 1px solid var(--black-1);
}
.mapa-do-site li + li {
  margin-top: 0.25rem;
}
.footer-contato li + li {
  margin-top: 0.5rem;
}
.redes-sociais {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.redes-sociais li {
  background-color: var(--green-3);
  border-radius: 5px;
  transition: 0.2s;
}
.redes-sociais li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}
.redes-sociais li:hover {
  background-color: var(--green-1);
}
.copyright {
  width: 100%;
  background: linear-gradient(135deg, var(--green-1), var(--green-3));
  padding: 2rem 1rem;
  margin-top: 4rem;
  box-sizing: border-box;
}
.copyright p {
  font-family: Poppins, sans-serif;
  color: #fff;
}
.js [data-animate="scroll"] {
  opacity: 0;
  transform: translate3d(0, 32px, 0);
  transition: 1s;
}
.js [data-animate="scroll"].ativo {
  opacity: 1;
  transform: none;
}
[data-menu="hamburguer"] {
  display: none;
}

.success-box {
  background-color: hsla(122, 100%, 50%, 0.149);
  padding: 1rem;
  text-align: center;
  color: #328b4a;
  margin-bottom: 1rem;
  border: 1px solid #9fdbaf;
  border-radius: 5px;
}

.close {
  color: #333232;
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}


.sobre {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/bg-sobre.jpg) center center/cover no-repeat;
  padding: 0;
}
.mvv {
  width: 100%;
  background-color: var(--green-1);
}
.mvv-lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.mvv-lista li {
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem 2rem 2rem;
  border: 1px solid var(--white-3);
}
.mvv-lista h2 {
  font-size: 1.5rem;
  color: var(--green-3);
  margin-bottom: 1rem;
}
.mvv-lista h2::before {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/missao.svg) center center no-repeat;
  margin: 0 auto 0.25rem;
}
.mvv-lista li:nth-child(2) h2::before {
  background: url(../img/visao.svg) center center no-repeat;
}
.mvv-lista li:nth-child(3) h2::before {
  background: url(../img/valores.svg) center center no-repeat;
}
.mvv-lista p {
  margin: 0 auto;
}
.faixa {
  background-color: #ff9100;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.box {
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.feature-list {
  list-style-type: none;
}

.feature-item {
  margin-bottom: 20px;
}

.feature-title {
  font-weight: bold;
  font-size: 18px;
  color: var(--orange-2);
  margin-bottom: 10px;
}

.feature-description {
  margin-top: 10px;
  font-size: 14px;
  color: var(--black-1);
}

details {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.3s;
}

summary {
  cursor: pointer;
  font-size: 16px;
  color: var(--green-1);
  outline: none;
}

.dados li + li {
  margin-top: 1rem;
}
.agende p,
.wpp-box {
  margin: 0 auto;
}
.agende {
  width: 100%;
  background: url(../img/bg-agendar.jpg) center center/cover no-repeat;
}
.agende .titulo,
.agende p {
  color: #fff;
}
.passeios {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/bg-passeios.jpg) center center/cover no-repeat;
  width: 100%;
  padding: 0;
}
.info h2 {
  font-size: 1.125rem;
  color: var(--orange-1);
}

.info p,
.info ul {
  font-size: 0.875rem;
}
.info p {
  margin: 1rem 0 2rem;
}
.info ul {
  border: 1px solid var(--white-3);
  border-radius: 5px;
}
.info li:first-child {
  text-align: center;
  border-radius: 5px 5px 0 0;
}
.info li {
  background-color: var(--white-1);
  padding: 0.5rem 1rem;
}
.info li:last-child {
  border-radius: 0 0 5px 5px;
  padding-bottom: 1rem;
}
.info li + li {
  border-top: 1px solid var(--white-3);
}
.info li:nth-of-type(odd) {
  background-color: #fff;
}
.asa-delta {
  background-color: var(--white-2);
}
.galeria {
  width: 100%;
  background: var(--white-2);
}
.contato {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/bg-contato.jpg) center center/cover no-repeat;
  padding: 0;
}
.form,
.wpp-box {
  border: 1px solid var(--white-3);
  padding: 2rem;
  box-sizing: border-box;
}
.wpp-box {
  background-color: #fff;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
  align-items: center;
  max-width: 526px;
  border-radius: 5px;
  text-align: left;
}
.atendimento,
.mapa {
  width: 100%;
  background-color: var(--white-2);
}
.atendimento-container {
  display: grid;
  grid-template-columns: minmax(250px, 480px) minmax(250px, 1fr);
  gap: 4rem;
}
.form {
  background: var(--white-1);
  border-radius: 5px;
  width: 100%;
  max-width: 480px;
  align-self: start;
}
.form button,
.form input,
.form label,
.form select,
.form textarea {
  display: block;
  width: 100%;
}
.form label {
  font-family: Poppins, sans-serif;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
.dados h2,
.form input,
.form select,
.mapa p {
  margin-bottom: 1rem;
}
.form input,
.form select,
.form textarea {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.125rem;
  color: var(--black-1);
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid var(--white-3);
  border-radius: 5px;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select {
  position: relative;
}
.select::after {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 1rem;
  height: 0.5rem;
  background: url(../img/seta.svg) center center no-repeat;
  right: 1rem;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  pointer-events: none;
}
.form textarea {
  max-width: 100%;
  height: 200px;
  resize: vertical;
}
.form button {
  border: none;
  cursor: pointer;
}
.dados h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
}
.dados a,
.dados p,
.mapa p {
  font-size: 1.125rem;
  font-style: italic;
}
.dados h2:first-child {
  margin-top: 0;
}
.dados a,
.dados p {
  color: var(--black-1);
  opacity: 0.8;
}
.mapa img {
  border-radius: 5px;
  transition: 0.3s;
}
.mapa img:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 750px) {
  .header {
    height: 4.25rem;
    box-sizing: border-box;
  }
  .js .header-container {
    flex-wrap: nowrap;
  }
  .js [data-menu="hamburguer"] {
    display: flex;
    padding: 0;
    align-items: center;
    border: none;
    background: 0 0;
    outline: 0;
    font-family: Poppins, sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 1rem;
  }
  .js [data-menu="hamburguer"]::after {
    content: " ";
    display: inline-block;
    width: 2rem;
    height: 0.125rem;
    background-color: #fff;
    margin-left: 1rem;
    box-shadow: 0 0.5rem #fff, 0 -0.5rem #fff;
    position: relative;
  }
  .js [data-menu="lista"] {
    display: none;
    position: absolute;
    top: 4.25rem;
    right: 1rem;
    background-color: #fff;
    width: 200px;
    padding: 1rem;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    z-index: 100;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
  }
  .js [data-menu="lista"].ativo {
    display: block;
  }
  .js [data-menu="lista"] li + li {
    margin-left: 0;
    padding-top: 0.5rem;
    margin-top: 0.5rem;
    border-top: 1px solid var(--white-3);
  }
  .js [data-menu="lista"] li a {
    font-size: 0.875rem;
    text-transform: none;
    color: var(--black-1);
    border: none;
    transition: 0.1s ease-out;
  }
  .js [data-menu="lista"] li a:hover {
    color: var(--white-3);
  }
  .atendimento-container,
  .footer-container,
  .galeria-lista,
  .mvv-lista,
  .passeios-container,
  .passeios-home,
  .passeios-home-lista,
  .sobre-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .contato,
  .main,
  .passeios,
  .sobre {
    height: 400px;
  }
  .main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/bg-home-mobile.jpg") center center/cover no-repeat;
  }
  .sobre {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/bg-sobre-mobile.jpg") center center/cover no-repeat;
  }
  .passeios {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/bg-passeios-mobile.jpg") center center/cover no-repeat;
  }
  .contato {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/bg-contato-mobile.jpg") center center/cover no-repeat;
  }

  .passeios-home-lista li {
    max-width: 388px;
  }
  .passeios-home-lista p {
    padding: 1rem;
  }
  .sobre-quote {
    margin-top: 2rem;
  }
  .footer-container {
    gap: 2rem;
  }
  .footer-container > li + li {
    padding-left: 0;
    width: 100%;
    border-left: none;
    padding-top: 2rem;
    border-top: 1px solid var(--black-1);
  }

  .atendimento-container,
  .passeios-container {
    gap: 2rem;
  }
  .info {
    text-align: center;
    max-width: 592px;
  }
  .wpp-box {
    gap: 1rem;
  }
  .dados h2 {
    font-size: 1.125rem;
  }
  .dados a,
  .dados p,
  .mapa p {
    font-size: 0.875rem;
  }
  @media only screen and (max-width: 400px) {
    .main h1 {
      font-size: 1.5rem;
    }
    .titulo {
      font-size: 1.125rem;
    }
    .wpp-box {
      grid-template-columns: 1fr;
      justify-items: center;
      text-align: center;
    }
    .form {
      padding: 1rem;
    }
    .form .cta {
      margin-top: 1rem;
    }
  }
}
